*{
  border: 1px solid red;
  margin: 20px 50px 20px 50px;
  padding: 10px 10px 10px 10px
}

h1{
  color: red;
  background-color: lightcoral;
  margin: 10px 25px 50px 12px;
  border: 50px;
  padding: 10px;
  border: 2px solid black;
}

h2{
  margin: 20px 20px 20px 20px;
  padding: 50px;
  font-weight: bold;
}

p{
  color: rgb(100, 10, 10);
  margin-right: 300px;
}

.answer{
  color: blue
}

.center{
  text-align: center;
}
